.bg-bank {
    background-color: #0c27a3 !important;
}

.text-bank {
    color: #0c27a3 !important;
}

.btn.btn-bank {
    color: #fff !important;
    background-color: #0c27a3 !important;
}

.btn-outline-bank {
    color: #0c27a3 !important;
    border-color: #0c27a3 !important;
}

.btn-outline-bank :hover {
    color: #ffffff !important;
    background-color: #0c27a3 !important;
    border-color: #0c27a3 !important;
}
